asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
django-environ==0.13.0
djangorestframework==3.17.0
dnspython==2.8.0
groq==1.1.2
gunicorn==23.0.0
joblib==1.5.3
numpy==2.4.3
pandas==3.0.1
pymongo==4.16.0
python-dotenv==1.2.2
scikit-learn==1.8.0
whitenoise==6.9.0
